<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{basepage::layout(~{::section})}">
<!--basepage is basepage.html and section is which attribute want to use like, div, nav, a ,h1 and so on -->
<!-- whatever the values stay at the section page that will dynamically pass -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1> Index page</h1>
<!-- this is the section tag that we are using above {:: section}-->
    <section> <h1>index</h1></section>


</body>
</html>